.outer {
    height: 100vh;
    background-color: orange ;
    background-image: url("https://companieslogo.com/img/orig/VAKBN.IS-68aa6daf.png?t=1602914510") ;
    background-repeat: no-repeat;
    background-size: 15% 15%;
    background-position:  top 3% center;
}


.panel-heading{
    text-align:center;
    margin-bottom: 10px;
    
}

#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}

.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}
.btn{
    margin-top: 20px;
    border-radius: 15px;
}

.panel{
    min-height: 380px;
    min-width: 500px;
    box-shadow: 20px 20px 50px rgb(255, 255, 255);
    border-radius: 12px;
    margin-top: 135px;
    margin-bottom: 100px;
    margin-left: 35%;

}
.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color:#2b3300;
    

}
.input-field.error{
    border: 1px solid red;
    color: red;
}

input[type='text'], input[type='password']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    color: #2b3300;
}
.fa-eye-slash.btn{
    border:none;
    outline:none;
    box-shadow: none;
}
img{
    width: 40;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: center;
}

.bordert{
    border-top: 1px solid #aaa;
    position: relative;
}
.bordert::after{
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 35%;
    background-color: #fff;
    padding: 0 8px;
}